@import "normalize.min.css";

img {
  max-width: 100%;
}

html {
  font-family: "Maven Pro", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
  margin-top: 0;
}

p {
  line-height: 1.5;
}

.heading-lg {
  font-size: 2rem;
}

.heading-lg:after {
  content: "";
  background: url("./../img/text-separator.svg");
  display: block;
  height: 10px;
  background-position: left;
  background-repeat: no-repeat;
  display: block;
  margin-top: 0.5em;
  width: 100%;
}

/* Single Slide */
.cyber-slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 500px;
  padding: 30px 15px;
}

.cyber-slider__wrapper {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.cyber-slider__slide {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.cyber-slider__slide.active {
  z-index: 999;
}

.cyber-slider__slide.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

/* Img */
.cyber-slider__imgwrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cyber-slider__imgwrap:after {
  content: "";
  display: block;
}

.cyber-slider__imgwrap img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Content */
.cyber-slider__content {
  position: relative;
  z-index: 1;
}

.cyber-slider__slidetext {
  max-width: 650px;
  background: #f9eb06;
  width: auto;
  padding: 30px;
  position: relative;
  margin: 30px 15px 60px 15px; /* to compensate for the after element*/
}

.cyber-slider__slidetext:after {
  content: "";
  display: block;
  left: 0;
  bottom: -30px;
  height: 30px;
  width: 100%;
  background: url("./../img/bottom-separator.svg");
  background-position: 0 0px;
  position: absolute;
  max-width: 100%;
}

.glitching .cyber-slider__slidetext:after {
  animation: 0.35s glitch infinite step-end;
}

/* Controls */

.cyber-slider__controls {
  position: absolute;
  z-index: 999;
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
}

.cyber-slider__controls a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.cyber-slider__controls a::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #f9eb06;
}
.cyber-slider__controls a:hover {
  opacity: 0.8;
}

.cyber-slider__controls .current a {
  background: url("./../img/accent-active-bullet.svg");
  background-size: contain;
}

@keyframes glitch {
  0%,
  100% {
    background-position: 0 0px;
  }
  50% {
    background-position: 0 30px;
  }
}

@media (min-width: 400px) {
  .cyber-slider__slidetext {
    padding: 30px 50px;
    margin: 60px 30px 120px 0px;
  }
}

@media (min-width: 768px) {
  .heading-lg {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .heading-lg {
    font-size: 3rem;
  }

  .cyber-slider {
    min-height: 700px;
  }

  .cyber-slider__controls {
    flex-direction: column;
    right: 0;
    top: calc(50% - 75px);
    bottom: unset;
    left: unset;
  }
}
